# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src-ttr
src-fle
src-dh
logs

# version handler
VersionPushing.class
pushMajorVersionAndBuild.bat
pushMinorVersionAndBuild.bat
pushSubVersionAndBuild.bat
pushSnapshotVersion.bat